    <footer class="footer-distributed">
      <div class="container">
        <div class="footer">
          <p>David Mainzer &copy; 2018</p>
          {% include social.html %}
            <a class="cleanLink" href="{{ site.url }}/imprint.html"><small>Imprint</small></a> | <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a> | <a href="{{ site.url }}/privacy.html"><small>Privacy</small></a>
        </div>
      </div>
    </footer>
