
a:not([href^="http://davidmainzer.github.io"]):not([href^="#"]):not([href^="/"]):not([href^="https://davidmainzer.github.io"])
{
  color : red;
}

a[href^="http://"]:not([href*="davidmainzer.github.io"]):after,
a[href^="https://"]:not([href*="davidmainzer.github.io"]):after
{
    content: " (EXTERNAL)" 
}

a[href$=".pdf"] {
        /* PDF file */
}
