
a[href^="http://"]:not([href*="davidmainzer.github.io"]):not([href$=".pdf"]):before,
a[href^="https://"]:not([href*="davidmainzer.github.io"]):not([href$=".pdf"]):before
{
  font-family: FontAwesome;
  content: "\f08e \00a0\00a0";
}

/* PDF file */
a[href$=".pdf"]:after 
{
  font-family: FontAwesome;
  content: "\00a0 \f1c1" 
}

a.cleanLink:before
{
  content: none;
}

a.cleanLink
{
  all: unset;
  color : red;
}
